body {
  margin: 0;
  font-family: Inter, sans-serif;
}
main.home {
  max-width: 2000px;
  margin: 0 auto;
}

/* HEADER */

header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  background: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.menu {
  display: none;
}

.logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
}
.menu-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

@media (min-width: 1000px) {
  .menu {
    display: flex;
    gap: 24px;
  }
  .menu > a {
    font-size: 12px;
    text-decoration: none;
    color: black;
  }

  header {
    justify-content: center;
    gap: 10px;
  }
}

/* yu bolood bainaa  */

.Header-text {
  padding: 16px 30px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  max-width: 450px;
  color: rgba(29, 29, 31, 1);
  margin: 0 auto;
}

@media (min-width: 800px) {
  .Header-text {
    max-width: 100%;
  }
}

/* hero ehelj baina */

.hero {
  background-image: url(iphone1.jpg);
  box-sizing: border-box;
  height: 500px;
  background-color: black;
  background-size: cover;
  color: rgba(245, 245, 247, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 36px;
}

.hero__title {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.hero__text {
  line-height: 120%;
  margin-bottom: 16px;
  font-size: 18px;
}

.hero__actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media (min-width: 500px) {
  .hero {
    justify-content: flex-start;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(propic.jpg);
    height: 650px;
    padding-top: 58px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 32px;
  }

  .hero__text {
    font-size: 22px;
    line-height: 32px;
  }

  .hero__actions {
    gap: 16px;
  }
}
@media (min-width: 1000px) {
  .hero {
    height: 692px;
    background-image: url(prodesktop.jpg);
    background-size: cover;
  }
  .hero__title {
    font-size: 52px;
  }
  .hero__text {
    font-size: 24px;
  }
}

/* IPHONE */
.iphone {
  margin-bottom: 12px;
  box-sizing: border-box;
  height: 500px;
  background-color: black;
  background-image: url(iphone-mobile.jpg);
  background-size: cover;
  color: rgba(245, 245, 247, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  margin-top: 12px;
}

.iphone .btn--primary {
  background-color: white;
  color: black;
}
.iphone .btn--outlined {
  border-color: white;
  color: white;
}

.iphone__title {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}
.iphone__subtitle {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 120%;
}
.iphone__actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media (min-width: 700px) {
  .iphone {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(iphone-pic.jpg);
    height: 650px;
    padding-top: 58px;
  }

  .iphone__title {
    font-size: 42px;
    line-height: 60px;
  }
  .iphone__subtitle {
    font-size: 22px;
    line-height: 32px;
  }
  .iphone__actions {
    gap: 16px;
  }
}

@media (min-width: 1000px) {
  .iphone {
    height: 692px;
    background-image: url(iphonedesktop.jpg);
    background-size: cover;
  }
  .iphone__title {
    font-size: 52px;
  }
  .iphone__subtitle {
    font-size: 24px;
  }
}
/* END OF IPHONE */

/* BUTTONS */
.btn {
  padding: 8px 16px;
  border-radius: 18px;
  border: 1px solid transparent;
  font-size: 14px;
}

@media (min-width: 500px) {
  .btn {
    padding: 12px 20px;
    border-radius: 22px;
    font-size: 16px;
  }
}

.btn--primary {
  background-color: rgba(0, 113, 227, 1);
  color: white;
}

.btn--outlined {
  background-color: transparent;
  color: rgba(41, 151, 255, 1);
  border-color: rgba(41, 151, 255, 1);
}
/* END OF BUTTONS */

/* PRODUCTS */
.product {
  height: 500px;
  background-color: bisque;
  text-align: center;
  box-sizing: border-box;
  padding-top: 36px;
  position: relative;
  margin-bottom: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.product:first-child {
  margin-bottom: 34px;
}

.product__image {
  margin-bottom: 8px;
}

.product__title {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}

.product__subtitle {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 16px;
  color: rgba(29, 29, 31, 1);
}

.product__decoration {
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  bottom: 36px;
  left: 0;
  right: 0;
}

.product--ipad {
  background-image: url(ipadair.jpg);
}

.product--airpods {
  background-image: url(airpods4.jpg);
  padding-bottom: 54px;
}

.product--airpods .product__subtitle {
  color: white;
}

.product--airpods .product__title {
  color: white;
}

.product--end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.product--airpods .product__subtitle {
  width: 241px;
}

.product--watch {
  background-image: url(tsag.jpg);
}

.product--air {
  background-image: url(macbook\ air.jpg);
}

.product--business {
  background-image: url(businesss.png);
}

.product--carrier {
  padding-bottom: 47px;
  background-image: url(carrierrr.jpg);
}

.product--trade {
  background-image: url(tardee.jpg);
}

.product--card {
  display: none;
}

@media (min-width: 700px) {
  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .product {
    flex-basis: calc(50% - 12px - 6px);
    margin-bottom: 0;
    margin-bottom: 12px;
    height: 490px;
  }

  .product:first-child {
    margin-bottom: 12px;
    flex-basis: 100%;
    height: 650px;
  }
}

@media (min-width: 1000px) {
  .product:first-child {
    flex-basis: calc(50% - 12px - 6px);
    height: 580px;
  }

  .product {
    height: 580px;
  }

  .product--carrier {
    display: none;
  }

  .product--business {
    display: none;
  }

  .product--card {
    display: block;
    background-image: url(cardd.jpg);
  }
}

/* END OF PRODUCTS */

/* MOVIES */

.movies {
  display: flex;
  gap: 16px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.movie {
  background-color: rgb(249, 213, 219);
  flex-basis: 80vw;
  flex-shrink: 0;
  aspect-ratio: 274 / 495;
  margin-bottom: 20px;
  scroll-snap-align: center;
}

@media (min-width: 500px) {
  .movie {
    aspect-ratio: 689 / 368;
    scroll-snap-align: start;
  }
}

@media (min-width: 1000px) {
  .movie {
    flex-basis: 70vw;
    max-width: 1250px;
    aspect-ratio: 1250 / 668;
    scroll-snap-align: center;
  }
}

.movie--mom {
  background-image: url();
}
main.store {
  background-color: rgba(245, 245, 247, 1);
  min-height: 100vh;
}
.latest {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
  padding-left: 100px;
}

.latest__item {
  width: 300px;
  height: 400px;
  background-color: antiquewhite;
  border: 1px solid black;
  flex-shrink: 0;
  border-radius: 20px;
}
