body {
  margin: 0;
  font-family: Inter, sans-serif;
}

/* HEADER */

header {
  background: rgba(245, 245, 247, 0.8);
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

.menu {
  display: none;
}

.logo {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
}
.menu-button {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
}

@media (min-width: 1000px) {
  .menu {
    display: flex;
    gap: 24px;
  }
  header {
    justify-content: center;
    gap: 10px;
  }
}

/* yu bolood bainaa  */

.Header-text {
  padding: 16px 30px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  max-width: 450px;
  color: rgba(29, 29, 31, 1);
  margin: 0 auto;
}

@media (min-width: 800px) {
  .Header-text {
    max-width: 100%;
  }
}

/* hero ehelj baina */

.hero {
  background-image: url(iphone1.jpg);
  box-sizing: border-box;
  height: 500px;
  background-color: black;
  background-size: cover;
  color: rgba(245, 245, 247, 1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 36px;
}

.hero__title {
  margin-bottom: 4px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.hero__text {
  line-height: 120%;
  margin-bottom: 16px;
  font-size: 18px;
}

.hero__actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

@media (min-width: 500px) {
  .hero {
    justify-content: flex-start;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(propic.jpg);
    height: 650px;
    padding-top: 58px;
  }

  .hero__title {
    font-size: 42px;
    line-height: 32px;
  }

  .hero__text {
    font-size: 24px;
  }

  .hero__actions {
    gap: 16px;
  }
}
@media (min-width: 1000px) {
  .hero {
    height: 692px;
    background-image: url(prodesktop.jpg);
    background-size: cover;
  }
  .hero__title {
    font-size: 52px;
  }
  .hero__text {
    font-size: 24px;
  }
}

/* button */

.btn {
  padding: 8px 16px;
  border-radius: 18px;
  border: 1px solid transparent;
  font-size: 14px;
}
@media (min-width: 500px) {
  .btn {
    padding: 12px 20px;
    border-radius: 22px;
    font-size: 16px;
  }
}
.btn--primary {
  background-color: rgba(0, 113, 227, 1);
  color: white;
}
.btn--outlined {
  background-color: transparent;
  color: rgba(41, 151, 255, 1);
  border-color: rgba(41, 151, 255, 1);
}

.purple {
  background-image: url(iphone2.jpg);
  width: 100%;
  height: 692px;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 12px;
  text-align: center;
}

.purple-title {
  color: rgba(245, 245, 247, 1);
  display: flex;
  justify-content: center;
  font-size: 52px;
  font-family: inter;
  font-weight: 600px;
  margin-bottom: 20px;
}

.purple-text {
  color: rgba(245, 245, 247, 1);
  font-size: 24px;
  margin-bottom: 40px;
}

.purple-button {
  background-color: white;
  color: black;
  border-radius: 22px;
  padding: 12px 20px;
  font-size: 16px;
  border: 0;
}

.purple-button--outlined {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}

.gift {
  background-image: url(iphone3.jpg);
  width: 100%;
  height: 692px;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.gift-title {
  color: rgba(0, 0, 0, 1);
  font-size: 52px;
  font-family: inter;
  font-weight: 600px;
}

.gift-text {
  color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  font-size: 24px;
}

.gift-button {
  background-color: rgba(41, 151, 255, 1);
  color: white;
  border-radius: 22px;
  padding: 12px 20px;
  font-size: 16px;
  border: 0;
}

.products {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin: 0 12px;
}

.products-item {
  width: 400px;
  height: 580px;
  background-image: url(iphone4.jpg);
  width: calc(50% - 6px);
  background-size: cover;
  background-position: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 12px;
}
@media (max-width: 1000px) {
  .products-item:nth-child(1) {
    width: 100%;
  }
  .products-item:nth-child(4) {
    display: none;
  }

  .products-item:nth-child(7) {
    display: block;
  }
  .products-item:nth-child(8) {
    display: block;
  }
}

@media (max-width: 600px) {
  .products {
    flex-direction: column;
  }
  .products-item {
    width: 100%;
  }
}

.products-item:nth-child(1) {
  background-image: url(iphone4.jpg);
}
.products-item:nth-child(2) {
  background-image: url(iphone5.jpg);
}

.products-item:nth-child(3) {
  background-image: url(iphone6.jpg);
}
.products-item:nth-child(4) {
  background-image: url(iphone7.jpg);
}
.products-item:nth-child(5) {
  background-image: url(iphone8.jpg);
}
.products-item:nth-child(6) {
  background-image: url(iphone9.jpg);
}
.products-item:nth-child(7) {
  display: none;
  background-image: url(iphone10.jpg);
}
.products-item:nth-child(8) {
  display: none;
  background-image: url(iphone11.jpg);
}

.slide-container {
  width: 100%;
  overflow: scroll;
}

.slides {
  display: flex;
  width: 4800px;
  gap: 16px;
  padding-top: 12px;
}

.slide {
  width: 1250px;
  height: 668px;
  border: 2px solid transparent;
  background-color: antiquewhite;
  font-size: 60px;
  text-align: center;
}

.slide:nth-child(1) {
  background-image: url(image1.jpg);
  background-size: cover;
}

.slide:nth-child(2) {
  background-image: url(image2.jpg);
  background-size: cover;
}
.slide:nth-child(3) {
  background-image: url(image3.jpg);
  background-size: cover;
}

.yoga-container {
  width: 100%;
  overflow: scroll;
}
.yogas {
  display: flex;
  width: 4800px;
  padding-top: 32px;
  padding-bottom: 56px;
  gap: 16px;
}
.yoga {
  width: 417px;
  height: 236px;
  border: 2px solid transparent;
  background-color: antiquewhite;
  font-size: 60px;
  text-align: center;
}

.yoga:nth-child(1) {
  background-image: url(y1.jpg);
}
.yoga:nth-child(2) {
  background-image: url(y2.jpg);
}
.yoga:nth-child(3) {
  background-image: url(y3.jpg);
}
.yoga:nth-child(4) {
  background-image: url(y4.jpg);
}
.yoga:nth-child(5) {
  background-image: url(y5.jpg);
}
